<div class="card">
  <div class="content">
    <div class="back">
      <div class="back-content">
        <strong>{{ title }}</strong>
      </div>
    </div>
    <div class="front">
      
      <div class="img">
        <img src="{{ cover }} " />
      </div>
      <div class="front-content">
        <div class="description">
          <div class="title">
            <p class="title">
              <strong>{{ title }}</strong>
            </p>
            <p>
              {{ artist }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
