<div class="card">
  <div class="content">
    <div class="back">
      <div class="back-content">
      <div class="img">
        <img src="{{ image }} " />
      </div>
        <strong>{{ title }}</strong>
      </div>
    </div>
    <div class="front">

      <div class="img">
        <img src="{{ record-image }} " />
      </div>
      <div class="front-content">
        <div class="description">
          <div class="title">
              {{ artist }} - 
              <strong>{{ title }}</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
